head, body{
    text-align: center;
    font-size: 150%;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}
a{
    text-decoration: none;
}
#main{
    margin-top: 100px;
}
#tieu_de{
    margin-bottom: 30px;
    padding: 2px;
}
#wrong{
    margin-bottom: 30px;
    padding: 2px;
    color: red;
    font-size: 70%;
}
#login{
    margin: 15px 20px 40px 15px;
}
#forgot{
    margin: 15px 15px 15px 20px;
}
#signup{
    margin: 15px 15px 15px 15px;
}
.img{
    display: Inline-block;
    width: 30%;
}
.img img{
    width: 100%;
}
.dang_nhap{
    margin-bottom: 15px;
}
.dang_nhap input[type=text]{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    font-family: 'Ubuntu';
    font-size: 15px;
}
.nut{
    font-family: 'Ubuntu';
    height: 50px;
    width: 200px;
    background: #ffffff;
    font-size: 70%;
    border: 2px solid;
    border-radius: 25px;
}
.tim_kiem{
    margin-bottom: 15px;
}
.tim_kiem input[type=text]{
    width: 700px;
    height: 30px;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    font-family: 'Ubuntu';
    font-size: 15px;
}
.pic{
    font-family: 'Ubuntu';
    height: 200px;
    width: 300px;
    background: #ffffff;
    font-size: 120%;
    border: 2px solid;
    border-radius: 25px;
}
.myarts{
    font-family: 'Ubuntu';
    height: 50px;
    width: 200px;
    background: chocolate;
    font-size: 70%;
    border: 2px solid;
    border-radius: 25px;
}
.back{
    font-family: 'Ubuntu';
    height: 25px;
    width: 80px;
    background: yellow;
    font-size: 70%;
    border: 2px solid;
    border-bottom-left-radius: 25px;
    margin-right: 100%;
}
.pictures{
    height: 350px;
    width: 350px;
    border: 2px rgb(19, 139, 29);
}
.nut_pic{
    font-family: 'Ubuntu';
    height: 40px;
    width: 300px;
    background: #ffffff;
    font-size: 70%;
    border: 2px solid;
    border-radius: 25px;
}
#post{
    width: 70%;
    height: 100%;
    background: #ffffff;
    float: left;
}
#sidebar{
    width: 30%;
    height: 100%;
    background: #ffffff;
    float: right;
}
.cong_cu{
    font-family: 'Ubuntu';
    height: 30px;
    width: 150px;
    background: rgb(42, 165, 48);
    font-size: 70%;
    border: 2px solid;
    border-radius: 25px;
}
.khoang_trang{
    height: 30px;
}
.tomau{
    height: 50%;
    width: 50%;
    border: 2px;
}
#trai{
    float: left;
    width:50%;
}
#phai{
    float: right;
    width: 50%;
}
#colorPicker{
    height: 30px;
    width: 100px;
    font-size: 100%;
    border: 2px solid;
    border-radius: 25px;
}