body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(222, 247, 233);
}
.abc{
display: Inline-block;
width: 20%;
}
.abc img{
width: 100%;
}
button, input[type=submit] {
    border-radius: 15px;
    border: 1px solid black;
    background: none;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}
input[type=text], input[type=password], input[type=color] {
    border-radius: 15px;
    border: 1px solid black;
    background: none;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}
input::placeholder {
    color: gray;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}