html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(233, 247, 239);
    height: 100%;
    width: 100%;
}
hr {
    border-top: 1px solid rgb(42, 155, 91);
}
.abc{
display: Inline-block;
width: 20%;
}
.abc img{
width: 100%;
}
button, input[type=submit], input[type=button], input[type=text], input[type=password], input[type=color], textarea, #cmtbutton {
    border-radius: 15px;
    border: 1px solid rgb(42, 155, 91);
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
    font-family: 'Nunito', sans-serif;
}
input::placeholder {
    color: gray;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
