head, body {
    text-align: center;
    font-size: 150%;
    font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
}
#main {
  margin-top: 100px;
}
#tieu_de{
  margin-bottom: 30px;
  padding: 2px;
}

#bat_dau{
  margin-bottom: 15px;
}

.nut{ 
  font-family: 'Ubuntu';
  height: 50px;
  width: 200px;
  background: #ffffff;
  font-size: 70%;
  border: 2px solid;
  border-radius: 25px;
}

#top100{
  margin: 15px 20px 40px 15px;
}

#pics {
  margin: 15px 15px 15px 20px;
}

#artists{
  margin: 15px 15px 15px 15px;
}
.tim_kiem{
  margin-bottom: 15px;
}

.tim_kiem input[type=text]{
  width: 700px;
  height: 30px;
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
  font-family: 'Ubuntu';
  font-size: 15px;
}

.dang_nhap {
  margin-top: 50px;
}

#login {
  margin: 15px 20px 15px 15px;
}
#signup {
  margin: 15px 15px 15px 20px;
}