<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Color Pictures</title>
</head>
<body>
    <a href="{{ url_for('home') }}">Homepage</a>
    <a href="{{ url_for('full_category') }}">Start Coloring</a>
    <a href="{{ url_for('signup') }}">Sign up</a>

    <h2>Log in</h2>
    <p>{{ warning }}</p>

    <form method="POST">
        <div>
            <input type="text" placeholder="username" name=username>
        </div>
        <div>
            <input type="password" placeholder="password" name=password>
        </div>
        <div>
            <button>Log in</button>
        </div>
    </form>
</body>
</html>