<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>New Pictures</title>
</head>
<body>
    <button class="nut"><a href="{{ url_for('home') }}">Homepage</a></button>
    <button class="nut"><a href="{{ url_for('full_category') }}">Category</a></button>

    {% if 'token' in session %}
        <button class="nut"><a href="{{ url_for('profile', artist=session['token']) }}">My Arts</a></button>
        <button class="nut"><a href="{{ url_for('logout') }}">Log out</a></button>
    {% else %}
        <button class="nut"><a href="{{ url_for('login') }}">Log in</a></button>
        <button class="nut"><a href="{{ url_for('signup') }}">Sign up</a></button>
    {% endif %}
    
    <hr>

    <div style="display: flex; justify-content: space-around">
        <div><canvas id="canvas" width="567" height="794"></canvas></div>
        {% if aftersave == 'no' %}
        <div style="justify-content: center">
            <div>
                <span>Pick your color here: </span>
                <input id="colorPicker" type="color" name="favcolor" value="#ff0000">
            </div>
            <div><button onclick="clearCanvas()" class="nut" id="resetcanvas">Reset</button></div>
            <div>
                <button class="nut" onclick="displayForm()">Save</button>
                <div style="display:none" id="loginwarning">
                    <p style="color:red">Bạn chưa đăng nhập!</p>
                    <button class="nut"><a href="{{ url_for('login') }}" target="_blank">Log in</a></button>
                </div>
                <form style="display:none" action="" method="post" id="submitform">
                    <div><label for="">Name your art:</label></div>
                    <div><input type="text" class="nut" id="inputname" name="picname"></div>
                    <input style="display:none" type="text" id="inputlink" name="piclink">
                    <input style="display:none" type="text" id="inputpicstatus" name="picstatus">
                    <input style="display:none" type="text" id="inputpicartist" name="picartist">
                    <div><button id="saveworking" class="nut" type="button" onclick="saveWorking()">Save as Working Art</button></div>
                    <div><button id="savefinished" class="nut" type="button" onclick="saveFinished()">Save as Finished Art</button></div>
                    <p id="setnamewarning" style="display:none; color:red">Bạn chưa đặt tên!</p>
                </form>
            </div>
        </div>
        {% elif aftersave == 'yes' %}
        <div>
            <p>Saved art successfull!</p>
            <button class="nut"><a href="{{ url_for('profile', artist=session['token']) }}">Go to My Arts</a></button>
            <button class="nut"><a href="{{ url_for('full_category') }}">Start New</a></button>
        </div>
        {% endif %}
    </div>

    <input id="token" style="display:none" type="text" value="{{ token }}">
    <input id="linkB64" style="display:none" type="text" value="{{ piclinkb64 }}">
    
    <script>
        imageLinkB64 = document.getElementById('linkB64').value;
    </script>
    <script>
        function displayForm() {
          var x = document.getElementById("submitform");
          var y = document.getElementById("loginwarning");
          var token = document.getElementById("token").value;
          if (token == "") {
            x.style.display = "none";
            y.style.display = "block";
          } else {
            x.style.display = "block";
            y.style.display = "none";
          }
        }
    </script>
    <script>
        function saveWorking() {
            var name = document.getElementById("inputname").value;
            var warning = document.getElementById("setnamewarning");
            var savebutton = document.getElementById("saveworking");
            if (name == "") {
            warning.style.display = "block";
            savebutton.type = "button";
            } else {
            warning.style.display = "none";
            savebutton.type = "submit";
            var token = document.getElementById("token").value;
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext("2d");
            var dataURL = canvas.toDataURL();
            document.getElementById('inputlink').value = dataURL;
            document.getElementById('inputpicstatus').value = "working";
            document.getElementById('inputpicartist').value = token;
            }
        }
    </script>
    <script>
            function saveFinished() {
                var name = document.getElementById("inputname").value;
                var warning = document.getElementById("setnamewarning");
                var savebutton = document.getElementById("savefinished");
                if (name == "") {
                warning.style.display = "block";
                savebutton.type = "button";
                } else {
                warning.style.display = "none";
                savebutton.type = "submit";
                var token = document.getElementById("token").value;
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext("2d");
                var dataURL = canvas.toDataURL();
                document.getElementById('inputlink').value = dataURL;
                document.getElementById('inputpicstatus').value = "finished";
                document.getElementById('inputpicartist').value = token;
                }
            }
        </script>
    <script>
        document.getElementById('resetcanvas').onclick = function clearCanvas() {
            drawImageFromWebUrl(imageLinkB64)
        }
    </script>
    <script src="../static/test.js"></script>

</body>
</html>