<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('home') }}" style="display:inline;">
        <input type="submit" value="Homepage">
    </form>
    <form action="{{ url_for('full_category') }}" style="display:inline;">
        <input type="submit" value="Category">
    </form>
    {% if 'token' in session %}
        <form action="{{ url_for('profile', artist=session['token']) }}" style="display:inline;">
            <input type="submit" value="My Arts">
        </form>
        <form action="{{ url_for('logout') }}" style="display:inline;">
            <input type="submit" value="Log out">
        </form>
    {% else %}
        <form action="{{ url_for('login') }}" style="display:inline;">
            <input type="submit" value="Log in">
        </form>
        <form action="{{ url_for('signup') }}" style="display:inline;">
            <input type="submit" value="Sign up">
        </form>
    {% endif %}
    <hr>
    
    <h2>Search</h2>

    <form action="" method="post">
        <div>
            <input name="searchword" type="text" size="70" placeholder="e.g. aladdin, ben 10 ..." onfocus="this.placeholder=''" onblur="this.placeholder='e.g. aladdin, ben 10 ...'">
        </div>
        <div>
            <label for="">Select field: </label>
            <input name="field1" type="checkbox" value="raw_picture"> Raw Pictures
            <input name="field2" type="checkbox" value="finished_art"> Finished Art
            <input name="field3" type="checkbox" value="artist"> Artist
            </div>
        <button>Find</button>
    </form>
    <hr>
    <h2>Result:</h2>
    <!-- <hr> -->

</body>
</html>