<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Color Pictures</title>
</head>
<body>
    <div style="display:flex; flex-direction: column; align-items: center;">
        <div>
            <form action="{{ url_for('home') }}" style="display:inline;">
                <input type="submit" value="Homepage">
            </form>
            <form action="{{ url_for('full_category') }}" style="display:inline;">
                <input type="submit" value="Start Coloring">
            </form>
            <form action="{{ url_for('login') }}" style="display:inline;">
                <input type="submit" value="Log in">
            </form>
            <hr>
        </div>
        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
            <div>
                <h2>Sign up</h2>
            </div>
            <div>
                <p>{{ warning }}</p>
            </div>
            <div>
                <form method="POST" id="signup">
                    <div>
                        <input id="fullname" type="text" size="30" placeholder="fullname" name="fullname" onfocus="this.placeholder=''" onblur="this.placeholder='fullname'">
                    </div>
                    <div style="display:none" id="warning1"></div>
                    <div>
                        <input id="username" type="text" size="30" placeholder="username (không chứa dấu cách)" name="username" onfocus="this.placeholder=''" onblur="this.placeholder='username (không chứa dấu cách)'">
                    </div>
                    <div style="display:none" id="warning2"></div>
                    <div>
                        <input id="password" type="password" size="30" placeholder="password (không chứa dấu cách)" name='password' onfocus="this.placeholder=''" onblur="this.placeholder='password (không chứa dấu cách)'">
                    </div>
                    <div style="display:none" id="warning3"></div>
                </form>
            </div>
            <div>
                <button id="signupbutton" type="button" form="signup" onclick="signUp()">Sign up</button>
            </div>
        </div>
    </div>
</body>
<script>
let fullname = document.getElementById("fullname").value;
let username = document.getElementById("username").value;
let password = document.getElementById("password").value;
let button = document.getElementById("signupbutton");
let warning1 = document.getElementById("warning1");
let warning2 = document.getElementById("warning2");
let warning3 = document.getElementById("warning3");
function signUp() {
    if (fullname.trim() == "") {
        if (warning1.style.display == "none") {
            warning1.style.display = "block";
            warning1.innerHTML = "Ban chua nhap fullname!";
        } 
    } else {
        if (warning1.style.display == "block") {
            warning1.style.display = "none";
        }
    }
}
</script>
</html>