<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Top 100 Pics</title>
</head>
<body>
    <form action="{{ url_for('home') }}" style="display:inline;">
        <input type="submit" value="Homepage">
    </form>
    <form action="{{ url_for('search') }}" style="display:inline;">
        <input type="submit" value="Search">
    </form>
    <form action="{{ url_for('top100artists') }}" style="display:inline;">
        <input type="submit" value="Top 100 Artists">
    </form>
    <form action="{{ url_for('room_of_fame') }}" style="display:inline;">
        <input type="submit" value="Room of Fame">
    </form>
    <form action="{{ url_for('full_category') }}" style="display:inline;">
        <input type="submit" value="Start Coloring">
    </form>
    <hr>
    
    <h2>Top 100 Pictures</h2>
    <hr>
    <p>{{ notice }}</p>

    {% for pic in top100pics %}
        <p>{{ pic.picpositionintop100 }}</p>
        <h4>{{ pic.picname }}</h4>
        <div>
            <a href="{{ url_for('view', picid=pic.picid) }}">
                <img src="{{ pic.piclink }}" alt="" width="20%" height="20%">
            </a>
        </div>
        <span>Artist:</span>
        <span><a href="{{ url_for('profile', artist=pic.picartist) }}"> {{ pic.picartistfullname }}</a></span>
        <span>Like: {{ pic.piclikes }}</span>
        <hr>
    {% endfor %}


</body>
</html>