<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>{{ picname }}</title>
</head>
<body>
            <a href="{{ url_for('home') }}">Homepage</a>
            <a href="{{ url_for('full_category') }}">Start Coloring</a>

            {% if 'token' in session %}
                <a href="{{ url_for('profile', artist=session['token']) }}">My Arts</a>
                <a href="{{ url_for('logout') }}">Log out</a>
            {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
                <a href="{{ url_for('signup') }}">Sign up</a>
            {% endif %}

            <h4>{{ picname }}</h4>
            {% if display == 'yes' %}
                <div>
                    <button onclick="displayNamebox()">Change name</button>
                </div>
            {% endif %}
            <form style="display:none" action="" method="POST" id="namebox">
                <div>
                    <input class="someinput" type="text" placeholder="Enter new name" name="picname">
                </div>
                <button type="submit" form="namebox">Save</button>
            </form>
            <script>
                function displayNamebox() {
                    var x = document.getElementById("namebox");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
            <img src="{{ pic.piclink }}" alt="">
            <div>
                <a href="{{ url_for('new_picture', picid=pic.picrawid) }}" target="_blank">Color this raw picture</a>
            </div>
            <hr>
            <p>Artist: <a href="{{ url_for('profile', artist=artist.username) }}">{{ artist.fullname }}</a></p>
            <p>Like: {{ piclikes }}</p>

            <input id="warning" type="text" style="display:none" value="{{ warning }}">
            <form action="" method="POST" id="like">
                <input style="display:none" name="like">
            </form>
            <button id="likebutton" type="button" form="like" onclick="Like()">{{ likebutton }}</button>
            <hr>
            <script>
            function Like() {
                var warning = document.getElementById("warning").value;
                var loginalert = document.getElementById("loginalert");
                var likebutton = document.getElementById("likebutton");
                if (warning == "show") {
                    loginalert.style.display = "block";
                    likebutton.type = "button";
                } else {
                    loginalert.style.display = "none";
                    likebutton.type = "submit";
                }
            } 
            </script>
            <p>Comments:</p>
            {% if comment_list.first() == None %}
                <p>Chưa có bình luận. Đăng bình luận đầu tiên cho bức tranh này bạn nhé.</p>
            {% endif %}
            {% for comment in comment_list %}
                <p><a href="{{ url_for('profile', artist=comment.who_username) }}">{{ comment.who_fullname }}</a>: {{ comment.comment }}</p>
            {% endfor %}
            <hr>

            <p id="loginalert" style="display:none">Vui lòng đăng nhập để like và comment</p>
            <p id="emptyalert" style="display:none">Bạn chưa viết gì nên không có gì để đăng</p>

            <p>Write comment:</p>
            <form action="" method="post" id="comment">
                <input id="cmtid" type="text" name='comment'>
            </form>
            <button id="cmtbutton" type="button" form="comment" onclick="Cmt()">Post</button>
        </div>
    </section>

    <script>
    function Cmt() {
        var warning = document.getElementById("warning").value;
        var loginalert = document.getElementById("loginalert");
        var emptyalert = document.getElementById("emptyalert");
        var cmtbutton = document.getElementById("cmtbutton");
        var cmt = document.getElementById("cmtid").value;
        if (warning == "show") {
            loginalert.style.display = "block";
            emptyalert.style.display = "none";
            cmtbutton.type = "button";
        } else {
            if (cmt == "") {
                loginalert.style.display = "none";
                emptyalert.style.display = "block";
                cmtbutton.type = "button";
            } else {
                loginalert.style.display = "none";
                emptyalert.style.display = "none";
                cmtbutton.type = "submit";
            }
            
        }
    } 
    </script>
</body>
</html>